@import "~bootstrap/scss/bootstrap";

h1 {
  color: red;
  font-size: 70px;
}

.flexbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-item {
  font-size: 40px;
}

#weather-icon {
  width: 100px;
  height: auto;
}

#load-icon-wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media only screen and (max-device-width: 414px) {
  h1 {
    font-size: 50px;
  }
  .display-item {
    font-size: 30px;
  }
}
