$dark: #212121;
$medium: #a1a1a1;
$light: #fffef5;

body {
	margin: 0;
	background-color: $dark;
	color: $light;
	font-family: 'Kumbh Sans', sans-serif;
}

#root {
	margin: 1rem;
}

input, button, article {
	border-radius: 5px;
}

input, button {
	margin-bottom: 1rem;
	font-size: 2rem;
	width: 100%;

	&:focus {
		outline: none;
		border: 2px solid blue;
	}
}

button, article {
	border: {
		width: 1px;
		style: solid;
		color: $light;
	}
}

input {
	box-sizing: border-box;
	text-align: center;
	line-height: 4rem;
	color: $dark;
}

button {
	cursor: pointer;
	line-height: 4rem;
	background-color: $dark;
	color: $light;
}

article {
	padding: 1rem;
}

h1 {
	margin: 0;
	font: {
		family: 'EB Garamond', serif;
		size: 4rem;
	}
}
